body {
  background: #001;
  color: #fff;
}

a {
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
}

h1 {
  color: #FFFFFF;
}

td {
  background: #000;
  color: #FFFFFF;
}

th {
  background: #000;
  color: #FFFFFF;
}
